<%= react_component('Routes',
                    { todos: render(template: 'todos/index.json.jbuilder',
                                    locals: { todos: @todos }) },
                    { id: 'todoapp', tag: :section, prerender: false })
%>
<footer id="info">
  <p>Double-click to edit a todo</p>
  <p>Created by <a href="https://github.com/hemslo">Hemslo Wang</a></p>
  <p>Part of <a href="http://todomvc.com">TodoMVC</a></p>
</footer>
